html {
  font-size: 56.25%; // 1rem = 9px, 9/16 = 56.25%
  scroll-behavior: smooth;

  @include respond(md) {
    font-size: 62.5%; // 1rem = 10px; 10px/16px = 62.5%
  }
}

body {
  background-color: $color-background-light;
  color: $color-black;
}

h1,
h2,
h3,
h4,
h5,
p {
  margin: 0;
}

main {
  margin-top: 8rem;
}

img {
  display: block;
  width: 100%;
}
