// Colors
$color-primary: #0095eb;
$color-primary-light: #33b4ff;
$color-primary-dark: #0086d4;

$color-secondary: #292b33;
$color-secondary-light: #25272e;
$color-secondary-dark: #292b33;

$color-grey-light: #fcfcfc;
$color-grey-dark: #f2f3f5;

$color-font-nav: #6a6c74;
$color-font-dark: #cccccc;
$color-font-darker: #65666c;

$color-white: #fff;

$color-black: #161922;
