.modaal-container {
  background-color: $color-secondary-light;
  color: $color-font-dark;
  border-radius: 3px;
  // max-width: 70rem;
  width: auto;

  & .header__secondary {
    font-size: 2.5rem;
    color: $color-font-dark;
  }

  & a {
    color: inherit;
    text-decoration: none;
    transition: all 0.2s ease-in;

    &:hover {
      color: $color-white;
    }
  }

  &__logo {
    display: block;
    color: $color-white;
    font-weight: 300;
    font-size: 2.5rem;
    text-decoration: none;
    line-height: 6rem;
    text-align: center;

    @include respond(md) {
      font-size: 3rem;
    }
  }

  &__brand {
    color: $color-primary;
    font-weight: 700;
    font-size: 2.5rem;

    @include respond(md) {
      font-size: 3.5rem;
    }
  }

  &__lead {
    margin-top: 3rem;
    font-weight: 300;
  }

  &__links {
    margin: 0 auto;
    width: 100%;
    padding-bottom: 3rem;

    @include respond(md) {
      width: 60%;
    }
  }

  & ul {
    list-style: none;
    padding: 0;
  }
}
